<html>
<body>
<div>
    <form action="/student_name">
    <h3>Get a student's grades:</h3>
    <label for="first_name">Enter student's first name</label>
    <input type="text" name="first_name" />
    <label for="last_name">Enter student's last name</label>
    <input type="text" name="last_name" />
    <input type="submit">
    <input type="reset">
    </form>
</div>
<br>
<br>
<br>
<div>
    <form action="/project">
    <h3>Get project:</h3>
    <label for="project">Enter project</label>
    <input type="text" name="project" />
    <input type="submit">
    <input type="reset">
    </form>
</div>
<br>
<br>
<br>
<div>
    <form action="/new_student">
    <h3>Make a new student:</h3>
    <label for="first_name">Enter student's first name</label>
    <input type="text" name="first_name" />
    <label for="last_name">Enter student's last name</label>
    <input type="text" name="last_name" /><br>
    <label for="github">Enter student's github handle</label>
    <input type="text" name="github" />
    <input type="submit">
    <input type="reset">
    </form>
</div>
<br>
<br>
<br>
<div>
    <form action="/new_project">
    <h3>Make a new project:</h3>
    <label for="project">Enter project title</label>
    <input type="text" name="project"><br>
    <br>
    <label for="description">What does the project detail?</label><br>
    <textarea name="description" rows="4" cols="50"></textarea><br>
    <br>
    <label for="max_grade">Enter maximum grade</label>
    <input type="number" name="max_grade" />
    <input type="submit">
    <input type="reset">
    </form>
</div>
<br>
<br>
<br>
<div>
<form action="/new_grade">
    <h3>Make a new grade:</h3>
    <label for="project">Enter project title</label>
    <input type="text" name="project">
    <label for="github">Enter student's github handle:</label>
    <input type="text" name="github" /><br>
    <label for="grade">Enter student's grade for this project:</label>
    <input type="number" name="grade" />
    <br>
    <input type="submit">
    <input type="reset">
    </form>
</div>
</body>
</html>